= title I18n.t('pages.users.organizer_prompt.title')
= card do
  = card_body do
    = card_title I18n.t('pages.users.organizer_prompt.title')
    = link_to I18n.t('pages.users.organizer_prompt.yes_link'), user_path(@user, user: { organizer: true }), class: 'BoxLink--dark', method: :patch
    = link_to I18n.t('pages.users.organizer_prompt.no_link'), user_path(@user, user: { organizer: false }), class: 'BoxLink--dark', method: :patch
