= card_header do
  = card_header_text classes: 'u-Text--muted' do
    = event.category
    |
    - if event.fee.nil? || event.fee.zero?
      = I18n.t('pages.events.event_header.no_cost_message')
    - else
      = format_currency(event.fee)
  - if signed_in?
    %span
      %i{ class: 'fas fa-star fa-2x IconLink--primary js-favorite-star',
          title: I18n.t('pages.events.event_header.unfavorite'),
          style: "#{ 'display:none;' unless current_user.favorite_events.exists?(event: event)}",
          data: { url: unfavorite_user_event_path(event.user.id, event),
                  method: 'delete',
                  controller: 'favorites',
                  target: 'favorites.toggle',
                  action: 'click->favorites#toggleFavorite' }}
      %i{ class: 'far fa-star fa-2x IconLink--primary js-favorite-star',
          title: I18n.t('pages.events.event_header.favorite'),
          style: "#{ 'display:none;' if current_user.favorite_events.exists?(event: event)}",
          data: { url: favorite_user_event_path(event.user.id, event),
                  method: 'post',
                  controller: 'favorites',
                  target: 'favorites.toggle',
                  action: 'click->favorites#toggleFavorite' }}
      - if event.user == current_user
        = link_to edit_user_event_path(event.user.id, event), class: 'IconLink--caution' do
          %i{ class: 'fas fa-pencil-alt fa-2x', title: I18n.t('pages.events.event_header.edit') }
        = link_to user_event_path(event.user.id, event), method: 'delete', class: 'IconLink--danger', data: { confirm: I18n.t('pages.events.event_header.confirm') } do
          %i{ class: 'fas fa-trash-alt fa-2x', title: I18n.t('pages.events.event_header.delete') }
