.EventsRibbon
  = form_tag events_path, method: 'get', class: 'EventsRibbon__form_inline' do
    = text_field_tag :search, params[:search], placeholder: I18n.t('pages.events.index.search_placeholder')
    = button_tag I18n.t('pages.events.index.search_button'), class: 'EventsRibbon__button_solid'
.EventsContainer
  - if signed_in? && (current_user.organizer? || current_user.admin?)
    .text-centered
      = link_to I18n.t('pages.events.index.create_button'), new_user_event_path(current_user), class: 'EventsRibbon__button_outline'
  - @events.each do |event|
    = render partial: 'events/event', locals: { event: event }
  .EventPagination
    = link_to_prev_page @events, I18n.t('pages.events.index.prev_link')
    = link_to_next_page @events, I18n.t('pages.events.index.next_link')
    %p= page_entries_info @events
