= title I18n.t('pages.events.index.title')
= description I18n.t('pages.events.index.description')
= form_tag events_path, method: 'get', class: 'EventSearchForm' do
  = text_field_tag :search, params[:search], placeholder: I18n.t('pages.events.index.search_placeholder')
  = button_tag I18n.t('pages.events.index.search_button'), class: 'Button--solid-dark'
- if signed_in? && (current_user.organizer? || current_user.admin?)
  = ribbon do
    = link_to new_user_event_path(current_user), class: 'Button--outline-primary' do
      %i{ class: 'fas fa-plus-circle' }
      = I18n.t('pages.events.index.create_button')
= container do
  - @events.each do |event|
    = render partial: 'events/event', locals: { event: event }
  = paginator do
    = link_to_prev_page @events, I18n.t('pages.events.index.prev_link')
    = link_to_next_page @events, I18n.t('pages.events.index.next_link')
    %p= page_entries_info @events
