= title @event.name
= description I18n.t('pages.events.show.description')
= card modifier: 'bottomBorder', classes: 'Card--large' do
  = render partial: 'events/event_header', locals: { event: @event }
  = card_body do
    = card_title @event.name
    .EventDetails
      .EventDetails__group
        = info_box do
          = info_box_group do
            = info_box_label I18n.t('models.event.fields.user')
            = info_box_content do
              = @event.user.handle
        = info_box do
          = info_box_group do
            = info_box_label I18n.t('models.event.fields.location')
            = info_box_content do
              = format_address(@event.location)
      .EventDetails__group
        = info_box do
          = info_box_group do
            = info_box_label I18n.t('models.event.fields.starts_at')
            = info_box_content do
              = format_date_and_zone(@event.start_date, @event.time_zone)
        = info_box do
          = info_box_group do
            = info_box_label I18n.t('models.event.fields.ends_at')
            = info_box_content do
              = format_date_and_zone(@event.end_date, @event.time_zone)
    - unless @event.summary.blank?
      %hr.u-HorizontalRule--small
      = @event.summary
  = card_footer classes: 'u-Text--right' do
    - if signed_in?
      = card_footer_text do
        = link_to I18n.t('pages.events.show.leave-comment'), '#js-comment-reply-form', class: 'Link--primary'
- unless @comments.empty?
  %hr.u-HorizontalRule--medium
  - @comments.each do |comment|
    = card id: comment.id, modifier: 'leftBorder' do
      = card_header do
        = card_header_text classes: 'u-Text--muted' do
          = comment_reply_to_info(comment)
      = card_body do
        - if comment.parent_id
          %p
            Replying to:
            = link_to comment_reply_to_info(comment.parent), "##{comment.parent_id}", class: 'Link--primary'
        %p= comment.body
      = card_footer classes: 'u-Text--right' do
        - if signed_in?
          %p
            = link_to 'Add a Reply', '#js-comment-reply-form', class: 'js-reply-to-link Link--primary', 'data-parent': comment.id, 'data-information': comment_reply_to_info(comment), remote: true
        - unless comment.leaf?
          %p
            Replies:
            - comment.child_ids.each_with_index do |child_id, index|
              - if index.zero?
                \|
              = link_to "##{child_id}", "##{child_id}", class: 'Link--primary'
              \|
- if signed_in?
  %hr.u-HorizontalRule--medium
  = card id: 'js-comment-reply-form' do
    = card_body do
      = card_title I18n.t('pages.comments.new.title')
      = form_for [@event, Comment.new], class: 'Form' do |f|
        = f.hidden_field :event_id, value: @event.id
        = f.hidden_field :parent_id, id: 'js-reply-to-hidden', readonly: 'true'
        = form_group modifier: 'boxed' do
          = f.label I18n.t('models.comment.fields.body')
          = f.rich_text_area :body
        = form_action do
          = f.submit I18n.t('pages.comments.form.form_action'), class: 'Button--solid-primary'
