= title I18n.t('pages.about.title')
= description I18n.t('pages.about.description')
= card modifier: 'bottomBorder' do
  = card_body do
    = card_title I18n.t('pages.about.title')
    = content_wrapper do
      = I18n.t('pages.about.body').html_safe
