= title I18n.t('pages.landing_page.title')
= description I18n.t('pages.landing_page.description')
= hero do
  = hero_headline I18n.t('pages.landing_page.practitioner_hero_headline')
  = form_tag events_path, method: 'get', class: 'EventSearchForm' do
    = text_field_tag :location, params[:location], placeholder: I18n.t('pages.events.index.location_search_placeholder'), class: 'InlineForm__input'
    = button_tag I18n.t('pages.events.index.search_button'), class: 'Button--solid-dark InlineForm__action'
= hero modifier: 'inverted' do
  = hero_headline I18n.t('pages.landing_page.organizer_hero_headline')
  = link_to I18n.t('pages.landing_page.organizer_hero_cta'), sign_up_path, class: 'Button--outline-light'
= card_deck do
  - I18n.t('pages.landing_page.feature_cards').each do |feature|
    = card modifier: 'small', classes: 'FeatureCard' do
      = card_body do
        = card_title feature[:card_title]
        = feature[:card_body].html_safe
= hero do
  = hero_headline I18n.t('pages.landing_page.cta_hero_headline')
  = hero_lede do
    = I18n.t('pages.landing_page.cta_hero_lede')
  = button_to I18n.t('pages.landing_page.cta_hero_cta'), sign_up_path, class: 'Button--solid-dark'

