= title I18n.t('pages.privacy_policy.title')
= description I18n.t('pages.privacy_policy.description')
= content_wrapper modifier: 'restricted' do
    %h1= I18n.t('pages.privacy_policy.title')
    = I18n.t('pages.privacy_policy.body').html_safe
