!!! XML
%urlset{ xmlns: 'http://www.sitemaps.org/schemas/sitemap/0.9' }
  %url
    %loc= root_url
    %lastmod= I18n.t('pages.landing_page.last_updated')
  %url
    %loc= about_url
    %lastmod= I18n.t('pages.about.last_updated')
  %url
    %loc= privacy_policy_url
    %lastmod= I18n.t('pages.privacy_policy.last_updated')
  %url
    %loc= terms_of_service_url
    %lastmod= I18n.t('pages.terms_of_service.last_updated')
  %url
    %loc= contact_us_url
    %lastmod= I18n.t('pages.contact_us.last_updated')
  %url
    %loc= markdown_url
    %lastmod= I18n.t('pages.markdown.last_updated')
