= title I18n.t('pages.passwords.new.title')
= description I18n.t('pages.passwords.new.description')
= card do
  = card_body do
    = form_for :password, url: passwords_path, class: 'Form' do |form|
      = form_group do
        = form.label :email
        = form.text_field :email, type: 'email'
      = form_action do
        = form.submit 'Reset Password', class: 'Button--solid-primary'
