= title I18n.t('pages.locations.index.title')
= card modifier: 'bottomBorder' do
  = card_body do
    = card_title I18n.t('pages.locations.index.title')
    = ribbon do
      = link_to new_user_location_path(@user), class: 'Button--outline-primary' do
        %i{ class: 'fas fa-plus-circle' }
        = I18n.t('pages.locations.index.create_button')
    - @locations.each do |location|
      = card classes: 'Card--large' do
        = card_header do
          = card_header_text classes: 'u-Text--muted' do
            = location.name
          %span
            = link_to edit_user_location_path(@user, location), class: 'IconLink--caution' do
              %i{ class: 'fas fa-pencil-alt fa-2x LocationIconPanel__icon-link_edit', title: I18n.t('pages.locations.index.edit') }
            = link_to user_location_path(@user, location), method: 'delete', class: 'IconLink--danger', data: { confirm: I18n.t('pages.locations.index.confirm') } do
              %i{ class: 'fas fa-trash-alt fa-2x LocationIconPanel__icon-link_delete', title: I18n.t('pages.locations.index.delete') }
        = card_body do
          .u-Text--center
            = format_address(location)
