%footer.Footer
  .Footer__footer-links
    = link_to I18n.t('footer.links.about'), about_path, class: 'Footer__footer-link'
    = link_to I18n.t('footer.links.privacy_policy'), privacy_policy_path, class: 'Footer__footer-link'
    = link_to I18n.t('footer.links.terms_of_service'), terms_of_service_path, class: 'Footer__footer-link'
    = link_to I18n.t('footer.links.contact_us'), contact_us_path, class: 'Footer__footer-link'
  %p.Footer__copyright= I18n.t('footer.copyright').html_safe
