%nav.Navbar
  .Navbar__navbar-header
    %a{ href: '#', id: 'js-navbar-toggle', class: 'Navbar__navbar-toggle' }
      = icon 'fas', 'bars'
    %span.Navbar__navbar-brand= I18n.t('app_name')
  .Navbar__navbar-menu
    %ul
      - if signed_in? && current_user.admin?
        %li
          = link_to I18n.t('navigation.auth.admin'), admin_path, class: 'Navbar__navbar-link'
      %li
        = link_to I18n.t('navigation.public.events'), events_path, class: 'Navbar__navbar-link'
      - if signed_in?
        %li
          = link_to I18n.t('navigation.auth.favorite_events'), user_favorite_events_path(current_user.id), class: 'Navbar__navbar-link'
        %li
          = link_to I18n.t('navigation.auth.settings'), user_settings_path(current_user.id), class: 'Navbar__navbar-link'
        %li
          = link_to I18n.t('navigation.auth.sign_out'), sign_out_path, method: :delete, class: 'Navbar__navbar-link'
      - else
        %li
          = link_to I18n.t('navigation.public.sign_up'), sign_up_path, class: 'Navbar__navbar-link'
        %li
          = link_to I18n.t('navigation.public.sign_in'), sign_in_path, class: 'Navbar__navbar-link'
